.bg-neutral-300 {
    --tw-bg-opacity: 1;
    background-color: rgba(212, 212, 212, var(--tw-bg-opacity));
}

.overflow-hidden {
    overflow: hidden;
}

.h-5 {
    height: 1.25rem;
}
.bg-orange-400 {
    --tw-bg-opacity: 1;
    background-color: rgba(251, 146, 60, var(--tw-bg-opacity));
}
.font-medium {
    font-weight: 500;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}